/****************************************************************************
                                    Global Layouts
*****************************************************************************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 20px;
  font-family: "Source Sans Pro";
}

main {
    width: 90%;
    margin: 10px auto;
    background-color: #f4f1ec;
}

#wrapper {
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    background: #dbc9cb;
}

/****************************************************************************
                                    Flexbox
*****************************************************************************/

.flexbox {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

/****************************************************************************
                                    Border
*****************************************************************************/


.border-box {
    box-sizing: border-box;
}

/****************************************************************************
                                    Width
*****************************************************************************/


 .w-full {
     width: 100%;
 }

/****************************************************************************
                                    Height
*****************************************************************************/


.h-full {
    height: 100%;
}

/****************************************************************************
                                    Background
*****************************************************************************/


.bg-main {
    background-color: #c9cbdb;
}

.bg-secondary {
    background-color: #dbc9cb;
}

/****************************************************************************
                                    Text
*****************************************************************************/


 .text-xs {
    font-size: small;
}

.highlight {
    color: #FFFFFF;
}


/****************************************************************************
                                    Margin
*****************************************************************************/

 .mb-1 {
     margin-bottom: 1em;
 }

 .m-0 {
     margin: 0;
 }

 .mt-25 {
    margin-top: 25px;
    margin-bottom: 0;
}

 /****************************************************************************
                            Buttons and Icons
*****************************************************************************/


button {
    margin-bottom: 13px;
    border-radius: 2.5em;
    outline: none;
}

button:not(:last-child) {
    margin-right: 10px;
}

button:hover {
    background-color: #c9dbd9;
}

h5:hover {
    background-color: #c9dbd9;
}

#scrollUp {
  position: fixed;
  bottom: 2px;
  right: 340px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 2.5em;
}

.fa {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.display-off {
    display: none;
}
