#nav-bar {
    top: 0;
    position: fixed;
    width: 1000px;
    height: 92px;
    padding: 1.5em;
    color: #FFFFFF;
    font-family: "Bungie";
    /* border: 5px solid yellow; */
}

.brand {
    font-size: 2em;
    font-weight: 700;
    padding: 0 0 1em 1em;
}

#compose {
    color: white;
    font-size: 1em;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 1em;
    /* z-index: 1; */
}

.fa-angle-double-down {
    margin-top: 1.5em;
}

.arrowSliding {
    position: absolute;
    animation: slide 2s linear infinite;
}

@keyframes slide {
    0% { opacity:0; transform: translateY(0px); }
   25% { opacity:1; transform: translateY(5px); }
   75% { opacity:1; transform: translateY(10px); }
  100% { opacity:0; transform: translateY(15px); }
}
