#nav-bar {
    /* top: 0; */
    /* position: fixed; */
    height: 92px;
    padding: 1.5em;
    color: #FFFFFF;
    font-family: "Bungie";
    border: 5px solid yellow;
}

.brand {
    font-size: 2em;
    font-weight: 400px;
    padding: 0 0 1em 1em;
}
