/****************************************************************************
                                    Container
*****************************************************************************/

.new-tweet {
    width: 745px;
    margin-top: 40px;
    padding: 2em 1.5em;
    border-radius: 0.5em;
    display: none;
}

/****************************************************************************
                                    Textarea
*****************************************************************************/

#tweet-text {
    height: 30px;
    outline: none;
    font-size: 24px;
    border: none;
    background: transparent;
    color: black;
}

.scroll-box {
    padding: 5px 30px 5px 5px;
    resize: none;
	min-height: 52px;
    overflow-y: scroll;
}

/****************************************************************************
                        Button, Error Text, and Horizontal Line
*****************************************************************************/

.btn {
    padding: 0 10px 0 10px;
    color: black;
    font-weight: 600;
    font-size: medium;
    border-radius: 0.5em;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.submit:hover {
    background-color: #c9dbd9
}

.counter.error {
    font-weight: bold;
    font-size: x-large;
    color: red;
}
 .error-text{
    color: red;
    padding-bottom: 17px;
}

.hr-line {
    margin-top: 0em;
    border-bottom: solid 1px black;
}
